@import "../../scss/mixins";
@import "../../scss/responsive";
@import "../../scss/variable";

.popular_courses {
    padding-top: 60px;
    padding-bottom: 200px;

    &.plus_padding {
        padding-top: 200px;

        @media #{$mobile_device} {
            padding-bottom: 100px;
        }

        @media #{$tablet_device} {
            padding-bottom: 100px;
        }

        @media #{$mid_device} {
            padding-bottom: 120px;
        }
    }

    @media #{$mobile_device} {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    @media #{$tablet_device} {
        padding-top: 60px;
        padding-bottom: 100px;
    }
}