@import "../../../scss/mixins";
@import "../../../scss/responsive";
@import "../../../scss/variable";

.courses_details_banner {
    background-image: url(../../../img/banner/bradcam2.png);
    padding-top: 286px;
    padding-bottom: 186px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media #{$mobile_device} {
        padding-top: 150px;
        padding-bottom: 150px;
    }x

    .course_text {
        h3 {
            font-size: 46px;
            color: #fff;
            line-height: 56px;
            font-weight: 400;
            font-family: $font1;

            @media #{$mobile_device} {
                font-size: 30px;
                line-height: 36px;
            }
        }

        .prise {
            span {
                font-size: 30px;
                font-weight: 400;
                font-family: $font1;

                @media #{$mobile_device} {
                    font-size: 20px;
                }

                &.inactive {
                    color: #fff;
                    text-decoration: line-through;
                    margin-right: 50px;
                }

                &.active {
                    color: #04D2C8;
                }
            }
        }

        .rating {
            margin: 16px 0 15px 0;

            i {
                color: #FD8E5E;
                font-size: 17px;
            }

            span {
                font-size: 14px;
                color: #fff;
            }
        }

        .hours {
            .video {
                .single_video {
                    margin-bottom: 4px;
                }

                i {
                    color: #AD9EEB;
                    font-size: 18px;
                }

                span {
                    color: #fff;
                    font-size: 18px;
                    padding-left: 14px;
                    font-weight: 400;
                    font-family: $font1;
                }
            }
        }
    }
}
